# devnet or testnet or mainnet
NEXT_PUBLIC_CHAIN_NETWORK="testnet"
SUPAMOTO_AUTH_HEADER=""
SUPAMOTO_USER_ID=""
SUPAMOTO_USER_PASSWORD=""
NEXT_PUBLIC_WC_PROJECT_ID=""
MAPBOX_ACCESS_TOKEN=""
NEXT_PUBLIC_GHOST_CONTENT_API_KEY=""
