.eventCard {
	padding: 10px 15px 15px;
	display: flex;
	flex-direction: column;
	font-size: 0.7rem;

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #ffffffaa;
		font-weight: 500;
		padding-bottom: 6px;

		p {
			margin: 0;
		}

		.button {
			display: flex;
			align-items: center;
			cursor: pointer;
		}
	}

	.textContainer {
		flex: 1;
		margin-left: 5px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}
