.footer {
	margin-top: 10px;
	z-index: 10;
	padding: 10px;
	color: var(--main-font-color-inverted);
	font-size: 14px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}
