.title {
	margin: 0 0 15px;
	color: white;
	font-weight: 400;
	font-size: 40px;
	line-height: 52px;
	text-align: center;
}

.emptyTitle {
	color: var(--main-font-color-inverted);
	margin: 20px 20px;
	font-size: 1.9rem;
	text-align: center;
	letter-spacing: 0.1em;
}

.invertedImgStrokeColor {
	& path {
		stroke: var(--main-font-color-inverted);
	}
	& line {
		stroke: var(--main-font-color-inverted);
	}
	& circle {
		stroke: var(--main-font-color-inverted);
	}
}

.householdImage {
	height: 230px;
	position: relative;
	border-radius: var(--card-border-radius);
	margin: 0 0 16px;
	overflow: hidden;
}

.rowCards {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 25px;
	margin-bottom: 25px;
}
