.invertedImgStrokeColor {
	& path {
		stroke: var(--main-font-color-inverted);
	}
	& line {
		stroke: var(--main-font-color-inverted);
	}
	& circle {
		stroke: var(--main-font-color-inverted);
	}
}

.householdImage {
	height: 230px;
	position: relative;
	border-radius: var(--card-border-radius);
	margin: 0 0 16px;
	overflow: hidden;
}