.chartContainer {
	opacity: 1;
	position: relative;

	.noData {
		position: absolute;
		top: calc(50% - 10px);
		left: calc(50% - 28px);
		margin: 0;
		font-size: 1rem;
	}

	.buttons {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
		margin-top: 4px;

		button {
			background-color: #0000;
			border: none;
			color: var(--main-font-color-inverted);
			font-size: 9px;
			padding: 0 1em;
			cursor: pointer;

			&.selected {
				color: var(--main-font-color);
			}
		}
	}
}